language: zh
pipeline:
- name: nlp_mitie
  model: data/total_word_feature_extractor.dat
- name: tokenizer_jieba
- name: ner_mitie
- name: ner_synonyms
- name: intent_featurizer_mitie
- name: intent_classifier_sklearn
#language: "en"
#
#pipeline:
#- name: "MitieNLP"
#  model: "data/total_word_feature_extractor.dat"
#- name: "MitieTokenizer"
#- name: "MitieEntityExtractor"
#- name: "EntitySynonymMapper"
#- name: "RegexFeaturizer"
#- name: "MitieIntentClassifier"

#language: "en"
#
#pipeline:
#- name: "MitieNLP"
#  model: "data/total_word_feature_extractor.dat"
#- name: "MitieTokenizer"
#- name: "MitieEntityExtractor"
#- name: "EntitySynonymMapper"
#- name: "RegexFeaturizer"
#- name: "MitieFeaturizer"
#- name: "SklearnIntentClassifier"

policies:
- name: MemoizationPolicy
- name: KerasPolicy
- name: MappingPolicy
